extends new-list

block main
  section#todos(class=todoList.done ? "done" : "")
    header
      h2 Editing "#{todoList.title}"
      ul
        li
          form.delete(
            action=`/lists/${todoList.id}/destroy`
            method="post"
          )
            button.delete(type="submit") Delete List

  +listForm(
    `/lists/${todoList.id}/edit`,
    `/lists/${todoList.id}`,
    "Enter the new title for the list:"
  )
