extends new-list

block main
  section#todos(class=todoList.isDone() ? "done" : "")
    header
      h2 Editing "#{todoList.getTitle()}"
      ul
        li
          form.delete(
            action=`/lists/${todoList.getID()}/destroy`
            method="post"
          )
            button.delete(type="submit") Delete List

  +listForm(
    `/lists/${todoList.getID()}/edit`,
    `/lists/${todoList.getID()}`,
    "Enter the new title for the list:"
  )
