extends layout

mixin listForm(action, cancelHref, label)
  form(action=action method="post")
    dl
      dt
        label(for="todoListTitle")= label
      dd
        input(
          type="text",
          id="todoListTitle"
          name="todoListTitle"
          placeholder="List Title",
          value=todoListTitle || (todoList && todoList.title)
        )

    fieldset.actions
      input(type="submit" value="Save")
      a(href=cancelHref) Cancel

block main
  +listForm("/lists", "/lists", "Enter the title for your new list:")
